.container{
    width: 90%;
    display: flex;
    margin: 5px auto;
}

.message{
    font-size: 1.3em;
    border-radius: 10px;
    padding: 2px 15px;
    position: relative;
    word-break: break-all;
    max-width: 80%;
    white-space: pre-wrap;
}

.messageText{ 
    text-align: left;
    margin: 0;
}

.me{
    background-color: #0279fb;
    text-align: right;
    margin-left: auto;
    color:white;
}

.friend{
    background-color: #e6e5eb;
}

.message.friend:after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #e6e5eb;
    border-top: 10px solid #e6e5eb;
    border-bottom: 10px solid transparent;
    left: -15px;
    top: 6px;
}

.message.me:after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #0279fb;
    border-right: 10px solid transparent;
    border-top: 10px solid #0279fb;
    border-bottom: 10px solid transparent;
    right: -15px;
    top: 6px;
}